@namespace MarkDav.Module.Ink
@inherits ModuleBase
@inject ISettingService SettingService

<div class="container">
    <div class="row mb-1 align-items-center">
        <label class="col-sm-3" For="value" ResourceKey="SettingName" ResourceType="@resourceType">Ink: </label>
        <div class="col-sm-9">
            <textarea id="value" type="text" class="form-control" @bind="@_ink" rows="10" />
        </div>
    </div>
</div>

@code {
    private string resourceType = "MarkDav.Module.Ink.Settings, MarkDav.Module.Ink.Client.Oqtane"; // for localization
    public override string Title => "Ink Settings";

    string _ink;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            _ink = SettingService.GetSetting(settings, "Ink", "");
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }

    public async Task UpdateSettings()
    {
        try
        {
            Dictionary<string, string> settings = await SettingService.GetModuleSettingsAsync(ModuleState.ModuleId);
            SettingService.SetSetting(settings, "Ink", _ink);
            await SettingService.UpdateModuleSettingsAsync(settings, ModuleState.ModuleId);
        }
        catch (Exception ex)
        {
            AddModuleMessage(ex.Message, MessageType.Error);
        }
    }
}
